:root { color-scheme: light; }
html, body { background: #c2c1c1; color: #000; }

.container{
    min-height: 100vh;
    background-color:#c2c1c1 ;
    width: 100%;
    display: flex;
    justify-content: center;  /* centro orizzontale */
    align-items: center; 
    /*align-items: flex-start;   
    gap: 20px;                
    justify-content: center; 
    margin-top: 3%; */
}
.section{
    background-color:#e9e9e9 ;
    border: 1px solid #c2c1c1;
    border-radius: 25px;
    width: 400px;
    height: 700px;
    /*margin: auto;*/
    /*margin-top: 20px;*/
    /*padding: 20px;*/
    
}
.camp {
    border: 1px solid #a9a9a9;
    border-radius:10px;
    width: 120px;
    height: 20px;
    margin: auto;
}

.camp:focus,
.camp:focus-visible {
  border-color: #00000047;              /* your focus color */
  outline: none;                      /* remove default blue/orange outline */
  box-shadow: 0 0 0 3px #00000020;    /* soft glow */
}

#title{
    font-size: 26pt;
    font-family: sans-serif;
    margin-top: min(26%, 15px);
    text-align: center;
    color: #9d9d9d;
}

.logo{
    position: fixed;   /* usa absolute se NON vuoi che resti fisso allo scroll */
    top: 12px;
    left: 12px;
    z-index: 10;
    width: 80px;   /* pick what you want */
    height: auto;
  /*display: block;*/
}

.signupButton:active{
    transform: scale(0.96);
    
}

/* INPUTS (username, email, password, password2) */
.camp{
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 12px;
  width: 270px;
  height: 44px;
  margin: 12px auto;
  display: block;
  padding: 0 16px;
  box-sizing: border-box;
}

/* BOTTONE SIGNUP */
.signupButton{
  background: linear-gradient(to right, #90fafe9c 10%, #9a2fff94 100%);
  border: none;
  outline: none;

  text-align: center;

  color: #00000095;

  border-radius: 9999px;
  width: 270px;
  height: 44px;
  margin: 12px auto;
  display: block;
  padding: 0 16px;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px #00000047;
}

/* TESTO SOTTO IL BOTTONE */
.textLogup{
  color: #00000094;

  font-family: sans-serif;
  text-align: center;
  margin-top: min(5vw, 4px);
  font-size: 10pt;
  width: 100%;
}

/* SPAZIO (DIV) */
.space3,
#space3{
  height: 10px;
}

html, body {
  background: #c2c1c1;
  color: #000;
}

.section {
  background: #e9e9e9;
}
