:root { color-scheme: light; }
html, body { background: #c2c1c1; color: #000; }

.container{
    background-color:#c2c1c1 ;
    width: 100%;
    display: flex;
    justify-content: center;  /* centro orizzontale */
    align-items: center; 
    /*align-items: flex-start;   
    gap: 20px;                
    justify-content: center; 
    margin-top: 3%; */
}
.section{
    background-color:#e9e9e9 ;
    border: 1px solid #c2c1c1;
    border-radius: 25px;
    width: 400px;
    height: 700px;
    margin: auto;
    /*margin-top: 20px;*/
    /*padding: 20px;*/
    
}

#title{
    font-size: 26pt;
    font-family: sans-serif;
    margin-top: min(26%, 15px);
    text-align: center;
    color: #9d9d9d;
}

.logo{
    position: fixed;   /* usa absolute se NON vuoi che resti fisso allo scroll */
    top: 12px;
    left: 12px;
    z-index: 10;
    width: 80px;   /* pick what you want */
    height: auto;
  /*display: block;*/
}

.loginButton:active{
    transform: scale(0.96);
    
}
/* Input username + password */
.camp {
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 12px;
  width: 270px;
  height: 44px;
  margin: 12px auto;
  display: block;
  padding: 0 16px;
  box-sizing: border-box;
}

/* Bottone login */
.loginButton {
  background: linear-gradient(to right, #90fafe9c 10%, #9a2fff94 100%);
  border: none;
  outline: none;

  text-align: center;


  color: #00000095;

  border-radius: 9999px;
  width: 270px;
  height: 44px;
  margin: 12px auto;
  display: block;
  padding: 0 16px;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px #00000047;
}

/* Testo sotto al bottone */
.textUnder {

  color: #00000094;;
  font-family: sans-serif;
  margin-top: min(5vw, 4px);
  align-self: stretch;
  font-size: 10pt;
  text-align: center;
  
}

/* Spazio alto (div) */
.space3,
#space3 {
  height: 180px;
}

html, body {
  background: #c2c1c1;
  color: #000;
}

.section {
  background: #e9e9e9;
}

